.left-logo img,.right-logo img{
    width: 8vw;
    height: 8vw;
    padding: 1vw;
}
.left-logo img:nth-child(2),.right-logo img:nth-child(2){
    padding-left: 1vw;
}
.title-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-heading h1{
    font-size: 2vw;
}