.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.ap-logo img:nth-child(1), .ap-logo img:nth-child(2), .department-logo img:nth-child(1),.department-logo img:nth-child(2) {
    width: 6vw;
    height: 6vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
