<div class="form-container row">
    <div class="col-6">
        <div class="card">
            <!-- <div class="card-header">Header</div> -->
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Scheme Details:</label>
                        <input type="text" class="form-control" id="schemeDetails" placeholder="Scheme Details">
                    </div>
                    <div class="form-group">
                        <label for="comment">Brief Note:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">District wise details in Map: </label>
                        <div class="map-container">

                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="card-footer">Footer</div> -->
        </div>
    </div>
    <div class="col-6 sign-up-form">
        <div class="card">
            <!-- <div class="card-header">Header</div> -->
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <label for="">User Name:</label>
                        <input type="text" class="form-control" id="" placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <label for="comment">Password:</label>
                        <input type="password" class="form-control" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="comment">Forgot password:(for TSO / ADS) </label>
                        <input type="text" class="form-control" id="" placeholder="ForgotPassword">
                    </div>
                </form>
            </div>
            <!-- <div class="card-footer">Footer</div> -->
        </div>
    </div>
</div>